[submodule "Music-Tag-Amazon"]
	path = Music-Tag-Amazon
	url = git@github.com:riemann42/Music-Tag-Amazon.git
[submodule "Music-Tag-File"]
	path = Music-Tag-File
	url = git@github.com:riemann42/Music-Tag-File.git
[submodule "Music-Tag-FLAC"]
	path = Music-Tag-FLAC
	url = git@github.com:riemann42/Music-Tag-FLAC.git
[submodule "Music-Tag-M4A"]
	path = Music-Tag-M4A
	url = git@github.com:riemann42/Music-Tag-M4A.git
[submodule "Music-Tag-MP3"]
	path = Music-Tag-MP3
	url = git@github.com:riemann42/Music-Tag-MP3.git
[submodule "Music-Tag-MusicBrainz"]
	path = Music-Tag-MusicBrainz
	url = git@github.com:riemann42/Music-Tag-MusicBrainz.git
[submodule "Music-Tag-OGG"]
	path = Music-Tag-OGG
	url = git@github.com:riemann42/Music-Tag-OGG.git
[submodule "Music-Tag-LyricsFetcher"]
	path = Music-Tag-LyricsFetcher
	url = git@github.com:riemann42/Music-Tag-LyricsFetcher.git
